# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.eslintcache
.cache
dist
.local
# Node dependencies
node_modules
icgoo_components
.cursor
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.*.example

